build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
.architectury-transformer/
output/
logs/
bin/
!common/src/main/java/net/palasitemclear/bin/
!common/src/main/java/net/palasitemclear/bin/**
!common/src/test/java/net/palasitemclear/bin/
!common/src/test/java/net/palasitemclear/bin/**
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode/
.cursor/
.vs/
.settings
*.launch
